body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;  
  padding-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}



.panel {  
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 450px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;  
}

.panel.expanded {
  height: 600px;
}


* {
  font-family: 'Roboto Mono', monospace;  
}

h2 {
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: medium;
}

.divider-top {
  border: none;
  border-top: 1px solid #D7D7D7; /* Subtle divider color */
  margin: 16px 0; /* Spacing above and below the divider */  
  width: 450px;
}

.divider-bottom {
  margin-top: 300px;
  border: none;
  border-top: 1px solid #D7D7D7; /* Subtle divider color */
  margin: 16px 0; /* Spacing above and below the divider */  
  width: 450px;
}

.footer {
  margin-top: 250px;
}