body {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;  
  padding-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}



.panel {  
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;  
}


* {
  font-family: 'Roboto Mono', monospace;  
}

h2 {
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: medium;
}